<%# Override default view to add `Rebuild` button %>

<% content_for(:title) { t("administrate.actions.edit_resource", name: page.page_title) } %>

<header class="main-content__header">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.show_resource", name: page.page_title),
      [namespace, page.resource],
      class: "button",
    ) if accessible_action?(page.resource, :show) %>

    <%= link_to(
      "Rebuild",
      repository_path,
      method: :patch,
      class: "button")
    %>

    <%= link_to(page.resource.hidden ? 'Unhide' : 'Hide',
      toggle_hidden_status_repository_path,
      method: :patch,
      class: "button button--alt")
    %>
  </div>
</header>

<section class="main-content__body">
  <%= render "form", page: page %>
</section>
