<%= form_with(model: repository) do |form| %>
  <% if repository.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(repository.errors.count, "error") %> prohibited this repository from being saved:</h2>

      <ul>
        <% repository.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :owner, 'Repository owner' %>
    <%= form.text_field :owner %>
  </div>

  <div>
    <%= form.label :name, 'Repository name' %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :token, 'Personal access token (if repository is private)' %>
    <%= form.password_field :token %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>