<%= form_with(model: credential,
              url: options_for_webauthn_credentials_path,
              method: :post,
              data: {
                remote: true,
                turbo: false,
                controller: "webauthn--register",
                "webauthn--register-callback-value": webauthn_credentials_url,
                action: "ajax:success->webauthn--register#create ajax:error->webauthn--register#error"}) do |f| %>

  <div class="form-field">
    <%= f.text_field :nickname, required: true, data: {"webauthn--register-target": "nickname"} %>
    <%= f.label :nickname, 'Nickname (security key, Face ID...)' %>
  </div>

  <%= f.button "Add" %>

  <%= turbo_frame_tag "webauthn_credential_error" %>
<% end %>
