<%# Override default view to add information about current administrator, logout button and edit MFA credentials button %>

<nav class="navigation">
  <h3>Admin: <%= current_administrator.name %></h3>
  <br />
  <%= button_to 'Logout', sessions_administrator_path, method: :delete, data: { turbo: false }, class: "button button--nav"  %>

  <%= link_to 'Edit MFA credentials', webauthn_credentials_path, class: "button button--alt button--nav" %>
  <br />
  <%= link_to 'Sidekiq dashboard', sidekiq_web_path, class: "button button--alt button--nav" %>

  <%= link_to(t("administrate.navigation.back_to_app"), root_url, class: "button button--alt button--nav") if defined?(root_url) %>

  <% Administrate::Namespace.new(namespace).resources_with_index_route.each do |resource| %>
    <%= link_to(
      display_resource_name(resource),
      resource_index_route(resource),
      class: "navigation__link navigation__link--#{nav_link_state(resource)}"
    ) if accessible_action?(model_from_resource(resource), :index) %>
  <% end %>
</nav>
