<% content_for(:html_title) { 'User login' } %>

<div class="new-user-session">
  <div class="form-block new-user-session__form-block">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-field">
        <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email" %>
        <%= f.label :email %>
      </div>

      <div class="form-field">
        <%= f.password_field :password, required: true, autocomplete: "current-password" %>
        <%= f.label :password %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />

    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
    
    <hr />
    <%= link_to "Create new account", new_registration_path(resource_name), class: 'button button-tertiary' %><br />
  </div>

</div>
