<%= form_with(model: repository, url: settings_author_repository_path(repository)) do |form| %>
  <%= render 'shared/form_errors', resource: repository if repository.errors.any? %>

  <div class="form-field">
    <%= form.text_field :name, required: true %>
    <%= form.label :name, 'Name' %>
  </div>
  
  <div class="form-field">
    <%= form.text_field :title, required: true %>
    <%= form.label :title, 'Title' %>
  </div>

  <div class="form-field">
    <%= form.text_field :branch, required: true %>
    <%= form.label :branch, 'Branch' %>
  </div>

  <%= form.submit %>
<% end %>
