<%= form_with(model: repository, url: settings_author_repository_path(repository)) do |form| %>
  <%= render 'layouts/form_errors', resource: repository if repository.errors.any? %>

  <div>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name, required: true %>
  </div>
  
  <div>
    <%= form.label :title, 'Title' %>
    <%= form.text_field :title, required: true %>
  </div>

  <div>
    <%= form.label :branch, 'Branch' %>
    <%= form.text_field :branch, required: true %>
  </div>

  <br />
  <div>
    <%= form.submit %>
  </div>
<% end %>
