<%= form_with(model: [:settings, :author, repository]) do |form| %>
  <%= render 'shared/form_errors', resource: repository if repository.errors.any? %>

  <div class="form-field">
    <%= form.text_field :name, required: true %>
    <%= form.label :name, 'Name' %>
  </div>
  
  <div class="form-field">
    <%= form.text_field :title, required: true %>
    <%= form.label :title, 'Title' %>
  </div>

  <div class="form-field">
    <%= form.text_field :branch %>
    <%= form.label :branch, 'Branch (if other than main)' %>
  </div>

  <div class="form-field">
    <%= form.password_field :token, required: true %>
    <%= form.label :token, 'GitHub Personal Access Token' %>
  </div>

  <%= form.submit %>
<% end %>
