<% content_for(:html_title) { "Edit Repository ##{@repository.id} - Settings" } %>

<div class="edit-author-repository form-block">
  <h1><%= "Edit Repository ##{@repository.id}" %></h1>
  
  <div class="edit-author-repository__actions">
    <%= button_to 'Rebuild Repository', repository_path(@repository), method: :patch %>
    <%= button_to 'Delete Repository',
                   settings_author_repository_path(@repository),
                   method: :delete,
                   form: { data: { turbo_confirm: 'Are you sure?' } } %>
  </div>
  
  <hr />
  
  <%= render 'edit_form', repository: @repository %>
  
  <br />
  <%= link_to 'Back to repositories', settings_author_repositories_path %>
</div>
