<% content_for(:html_title) { 'Repositories - Settings' } %>

<div class="index-repositories form-block">
  <h2><%= "#{current_author.name}'s Repositories" %></h2>

  <div class="index-repositories__grid">
    <% @repositories.each do |repository| %>
      <div class="index-repositories__card">
        <div class="index-repositories__card__text">
          <div class="index-repositories__card__line">
            Name: <%= repository.name %>
          </div>

          <div class="index-repositories__card__line">
            Title: <%= repository.title %>
          </div>

          <div class="index-repositories__card__line">
            Branch:
            <span class="index-repositories__card__branch"><%= repository.branch %></span>
          </div>
          
          <div class="index-repositories__card__line">
            Last build: 
            <%= build_status_icon(repository.builds.last) %>
            <span class="sr-only"><%= repository.builds.last&.status %></span>
            <%= build_information(repository.builds.last) %>
          </div>
        </div>
        
        <div class="index-repositories__card__actions">
          <%= link_to 'View book',
                      "/collections/#{repository.author.github_username}/#{repository.name}/pages/index",
                      target: :_blank,
                      class: 'button button-small button-tertiary',
                      disabled: !repository.visible?,
                      title: "#{repository.visible? ? '' : 'This repository is disabled' }" %>
          <%= link_to 'Edit', edit_settings_author_repository_path(repository.id), class: 'button button-small' %>
          <%= link_to 'Show builds', settings_author_repository_builds_path(repository.id), class: 'button button-small' %>
        </div>
      </div>
    <% end %>     
  </div>

  <%= link_to 'New repository', new_settings_author_repository_path, class: 'button' %>
</div>