<% content_for(:html_title) { 'Create new administrator' } %>

<h2>New Administrator</h2>

<div class="form-block">
  <%= form_with model: @administrator do |f| %>
    <%= render 'shared/form_errors', resource: @administrator if @administrator.errors.any? %>

    <div class="form-field">
      <%= f.text_field :name, required: true, autofocus: true %>
      <%= f.label :name %>
    </div>

    <div class="form-field">
      <%= f.password_field :password, required: true %>
      <%= f.label :password %>
    </div>

    <div class="form-field">
      <%= f.password_field :password_confirmation, required: true %>
      <%= f.label :password_confirmation %>
    </div>

    <%= f.submit "Create account" %>
  <% end %>
</div>
