<%= form_with(model: [:settings, author]) do |form| %>
  <%= render 'layouts/form_errors', resource: author if author.errors.any? %>

  <div>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name %>
  </div>
  
  <br />
  <div>
    <%= form.submit %>
  </div>
<% end %>
