<%= form_with(model: [:settings, author]) do |form| %>
  <%= render 'shared/form_errors', resource: author if author.errors.any? %>

  <div class="form-field">
    <%= form.text_field :name, required: true %>
    <%= form.label :name, 'Name'%>
  </div>

  <%= form.submit %>
<% end %>
