<% content_for(:html_title) { 'Administrator sign in' } %>

<h2>Administrator sign in</h2>

<div class="form-block">
  <%= form_with url: sessions_administrator_path do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, required: true, autofocus: true, autocomplete: "username" %>
    </div>

    <div>
      <%= f.label :password %>
      <%= f.password_field :password, required: true, autocomplete: "current-password" %>
    </div>


    <%= f.submit "Sign In" %>
  <% end %>
</div>
