<h1>Administrator Sign In</h1>

<%= form_with url: sessions_administrator_path do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, required: true, autofocus: true %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %>
  </div>


  <%= f.submit "Sign In" %>
<% end %>
