<%= form_with(model: repository, url: '/author/repositories') do |form| %>
  <% if repository.errors.any? %>
    <p style="color: red">
      <%= repository.errors.full_messages.join('. ') %>
    </p>
  <% end %>

  <div>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name, required: true %>
  </div>
  
  <div>
    <%= form.label :title, 'Title' %>
    <%= form.text_field :title, required: true %>
  </div>
  </div>

  <div>
    <%= form.label :branch, 'Branch (if other than main)' %>
    <%= form.text_field :branch %>
  </div>

  <div>
    <%= form.label :token, 'GitHub Personal Access Token' %>
    <%= form.text_field :token, required: true %>
  </div>

  <br />
  <div>
    <%= form.submit %>
  </div>
<% end %>
