<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= content_for?(:html_title) ? yield(:html_title) : 'Knewhub' %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render "layouts/flash" %>
    <div class="main">
      <% if content_for?(:settings_layout) %>
        <%= yield(:settings_layout) %>
      <% elsif content_for(:collections_layout) %>
        <%= yield(:collections_layout) %>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
