<% content_for(:html_title) { @front_matter['title'] } %>

<% content_for :collections_layout do %>
  <h2><%= @front_matter['title'] %></h2>
  <p>Written by <%= @front_matter['author'] %> on <%= @front_matter['date'] %></p>
  <%= yield %>
<% end %>

<%= render template: 'layouts/application' %>