<!DOCTYPE html>
<html>
  <head>
    <title>Knewhub | <%= @front_matter['title'] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= format_keywords(@front_matter['keywords']) %>" >
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1><%= @front_matter['title'] %></h1>
    <p>Written by <%= @front_matter['author'] %> on <%= @front_matter['date'] %></p>
    <%= yield %>
  </body>
</html>
